@use "sass:map";
@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;
@use "tokens" as *;

@function clr($color, $shade, $scheme: $active-theme) {
  $map: null;
  @if $scheme == "light" {
    $map: $light;
  } @else if $scheme == "dark" {
    $map: $dark;
  } @else if $scheme == $active-theme {
    $map: $active-theme;
  } @else {
    @error "unknown scheme";
  }

  @if map.has-key($map, $color, $shade) {
    @return map.get($map, $color, $shade);
  } @else {
    @error '$colors does not have that color!';
  }
}

@function fs($font-size, $map-size: "small") {
  @if map.has-key($font-sizes, $map-size, $font-size) {
    @return map.get($font-sizes, $map-size, $font-size);
  } @else {
    @error '$font-sizes does not have that size!';
  }
}

@function size($size) {
  @if map.has-key($sizes, $size) {
    @return map.get($sizes, $size);
  } @else {
    @error '$sizes does not have that size!';
  }
}
