@use "../abstracts/" as *;

.#{$prefix} {
  &even-columns {
    display: grid;
    gap: var(--grid-gap, $grid-gap);

    @include mq(medium) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
}
