@use "../abstracts" as *;

.#{$prefix} {
  &box-shadow-1 {
    box-shadow: $box-shadow-1;
  }

  &box-shadow-2 {
    box-shadow: $box-shadow-2;
  }

  &box-shadow-3 {
    box-shadow: $box-shadow-3;
  }

  &box-shadow-4 {
    box-shadow: $box-shadow-4;
  }

  &box-shadow-5 {
    box-shadow: $box-shadow-5;
  }
}
