@use "../abstracts/" as *;

.#{$prefix} {
  &flex-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--flex-column-gap, $flex-group-gap);
    row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
    width: fit-content;
  }

  &flex-group.mx-auto {
    justify-content: center;
  }
}
