@use "../abstracts" as *;

.#{$prefix} {
  &button {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    font-family: $button-font-family;
    font-size: $button-font-size;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    padding: $button-padding;
    border: $button-border;
    border-radius: $button-border-radius;
    transition: 275ms ease;

    &[data-type="accent"] {
      background-color: $button-accent-background;
      color: $button-accent-color;

      &:is(:hover, :focus) {
        background-color: $button-accent-background-hover;
        color: $button-accent-color-hover;
      }
    }

    &[data-type="primary"] {
      background-color: $button-primary-background;
      color: $button-primary-color;

      &:is(:hover, :focus) {
        background-color: $button-primary-background-hover;
        color: $button-primary-color-hover;
      }
    }
  }
}
