@use "../abstracts" as *;

.#{$prefix} {
  &nav {
    --flex-column-gap: #{$navigation-gap};
    list-style: none;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;

    a {
      color: $navigation-color;
      text-decoration: $navigation-link-text-decoration;

      &:is(:hover, :focus) {
        color: $navigation-color-hover;
      }
    }
  }
}
