@font-face {
  font-family: "Alegreya SC";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/alegreyasc-bold-webfont.woff2") format("woff2"),
    url("/fonts/alegreyasc-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("/fonts/sourcesanspro-bold-webfont.woff") format("woff");
}
